<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <h3 class="p-2 text-justify"><fa-icon [icon]="icons.menu"></fa-icon> Menu</h3>
      <a *ngFor="let route of routes"
         [routerLink]="route.path" 
         mat-list-item  
         (click)="sidenav.toggle()"> {{route.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
        <mat-toolbar color="primary">
          <button  mat-icon-button 
                   aria-label="Menu"
                   (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <h2>Test Manager</h2>  
  </mat-toolbar>
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>